.project-card {
    /* height: 25rem; */
    width: 30rem;
    padding: 1rem;
    
}
.project-banner{
    width: 30rem;
    height: 20rem;
}
.date{
    padding: 1rem;
    color: white;
}
.desc{
    padding: 1rem;
    color: #7A7474;
}