.contact {
    margin: 2rem;
    display: flex;
    color: white;
}
.form h1 {
    color: rgba(116, 116, 116, 0.28);
    font-size: 150px;
}
.form p{
    position: relative;
    top: -8.5rem;
    left: 3rem;
    background: none;
    font-size: 40px;
}
input[type=text],
textarea {
    width: 100%;
    padding: 1.2rem 1rem;
    margin: 2rem 1.5rem 0 1.5rem;
    background: rgba(196, 196, 196, 0.12);
    backdrop-filter: blur(10px);
    border: none;
    color: white;
}
textarea{
    padding: 3rem 1rem !important;
    resize: none;
    color: white;
}
textarea::placeholder{
    font-family: 'Poppins', sans-serif;
}
input[type=submit] {
    width: 40%;
    background: rgba(196, 196, 196, 0.51);
    box-sizing: border-box;
    color: white;
    padding: 1.2rem;
    margin: 2rem 1.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.7s;
}

input[type=submit]:hover {
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
}